In [2]:
"""
os 임포트
파이썬 내부에서 os에 접근해서 환경변수를 세팅합니다.
파이썬에서 실행했을때 즉효성을 가집니다.
"""

import os
import kaggle as kaggle
from kaggle.api.kaggle_api_extended import KaggleApi

# 닉네임, 토큰 설정
os.environ["KAGGLE_USERNAME"] = 'mkim80'
os.environ["KAGGLE_KEY"] = "3cab95f0e83be84d5932ff809d4241fb"

api = KaggleApi()
api.authenticate()

# 캐글 리스트
# print(api.competitions_list())

In [19]:
import shutil
import os
import zipfile

current_path = os.getcwd()

# 캐글 : 원하는 데이터셋을 선택하고 "Copy API command"를 클릭하여 API 주소를 복사합니다.
kaggle_data = "andrewmvd/heart-failure-clinical-data"
kaggle_data_nm = "heart-failure-clinical-data"

destination_path = "../data/"+kaggle_data_nm+"/"

# 여러 개의 중첩된 폴더 생성
os.makedirs(destination_path, exist_ok=True)

# # 데이터셋 다운로드
kaggle.api.dataset_download_files(dataset=kaggle_data, path=destination_path)

# # 압축풀기
with zipfile.ZipFile(destination_path+kaggle_data_nm+".zip", 'r') as zipref:
    zipref.extractall(destination_path)

# # # 파일 지우기
os.remove(destination_path+kaggle_data_nm+".zip")

In [26]:
import pandas as pd

data = pd.read_csv(destination_path+"heart_failure_clinical_records_dataset.csv")
data

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0